#toggle-theme {
    position: absolute;
    width: 100px;
    height: 45px;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-family: var(--fontfamily);
    z-index: 10;
    cursor: pointer;
}

/* todo loader styles */
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    z-index: 19;
}

.hidden_anime {
    animation: anime_load 1s 1 forwards;
}

@keyframes anime_load {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* todo Login section styles */
#Login_page_in_left {
    width: 50%;
    height: 100%;
    background-color: transparent;
}
#box_Login {
    width: 421px;
    height: 500px;
    background-color: var(--colorTextBtn);
    border-radius: 12px;
    box-shadow: 0 0 10px #1d204358 , 0 0 14px #1d204338;
}
#box_text_top {
    width: 100%;
    height: 30%;
    background-color: transparent;
    align-items: start;
    gap: 15px;
}
#text_one {
    font-family: var(--fontFamily);
    font-size: 32px;
    font-weight: 600;
    color: var(--colorText);
    padding: 0 20px;
}
#text_two {
    font-family: var(--fontFamily);
    font-size: 20px;
    font-weight: 500;
    color: var(--colorTextTwo);
    padding: 0 20px;
}
#box_input_center {
    width: 93%;
    height: 40%;
    background-color: transparent;
    align-items: start;
    justify-content: start;
    gap: 12px;
}
#box_input_center span {
    font-family: var(--fontFamily);
    font-size: 22px;
    font-weight: 500;
    color: var(--colorTextTwo);
    padding: 0 10px;
}
#box_input_center input {
    width: 90%;
    height: 45px;
    padding: 0 20px;
    background-color: transparent;
    color: var(--colorText);
    border: 1.5px solid #1d20434e;
    border-radius: 8px;
    font-size: 22px;
    font-family: var(--fontFamily);
}
#box_input_center>#box_input_password {
    width: 100%;
    height: max-content;
    gap: 12px;
    align-items: start;
    justify-content: start;
}
.toggle-password {
    position: absolute;
    width: max-content;
    height: max-content;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.toggle-password.active i.fa-eye {
    display: none;
}
.toggle-password.active i.fa-eye-slash {
    display: inline;
}
.toggle-password i.fa-eye-slash {
    display: none;
}
#box_btn_buttom {
    width: 100%;
    height: 30%;
    background-color: transparent;
    gap: 20px;
}
#box_link {
    width: 92%;
    height: 25%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
#box_link>a {
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--colorTextTwo);
}
#box_btn_buttom>#btn_save {
    width: 95%;
    height: 40%;
    background-color: var(--colorBtn);
    font-size: 22px;
    font-family: var(--fontFamily);
    font-weight: 600;
    color: var(--colorTextBtn);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* todo text section styles */
#text_page_in_right {
    width: 50%;
    height: 100%;
    background-color: transparent;
    align-items: start;
}
#box_text {
    width: 60%;
    height: 200px;
    top: 30px;
    background-color: transparent;
}
#text_of_web {
    color: var(--colorText);
    font-family: var(--fontFamily);
    font-size: 42px;
    font-weight: 600;
    text-shadow: 0 0 3px #1d204381;
}

#mudal_box {
    position: absolute;
    width: 600px;
    height: 200px;
    top: 100px;
    right: 100px;
    background-color: #e9e9e982;
    backdrop-filter: blur(15px);
    border: 2px solid #d00045;
    border-radius: 12px;
    box-shadow: 0 0 10px #d00045;
    display: none;
    z-index: 1;
}
#mudal_box>span {
    font-family: var(--Fontfamily);
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 4px #d00045,0 0 4px #fff ,0 0 4px #d00045,0 0 4px #fff;
}
.animationMUDAL {
    animation: mudalanime 1s 1 forwards;
}
@keyframes mudalanime {
    0% {
        display: none;
        opacity: 0;
    }
    60% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}
.animationMUDALend {
    animation: mudalanimeEnd 1s 1 forwards;
}
@keyframes mudalanimeEnd {
    0% {
        opacity: 1;
        display: flex;
    }
    40% {
        display: flex;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}